*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
.loding{
	margin: 10%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-bottom: 15px solid #000;
	border-top: 15px solid #000;
	border-left: 10px solid #DDD;
	border-right: 10px solid #DDD;
	animation: animate linear infinite 1s;
}
@keyframes animate{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(180deg);
	}
}